
    /**
        GAPS
    **/
    .gap-1{
        height: 1em;
    }

    .gap-2{
        height: 2em;
    }

    .gap-3{
        height: 3em;
    }

    .gap-4{
        height: 4em;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {


        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }

    p{
        font-size: 1.3em;
    }

    textarea {
        resize: none;
    }

    #alerts {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .alert{
        display: none;
        margin-bottom: 0;
    }